<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <!--<add name="AccountContext" connectionString="Data Source=(LocalDb)\v11.0;database=MvcDemo;AttachDbFilename=|DataDirectory|\aspnet-EFTest-EFWeb.mdf;Initial Catalog=aspnet-EFTest-20160224111627;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="AccountContext" connectionString="Data Source=(local);AttachDbFilename=|DataDirectory|\aspnet-EFWeb-20170111103221.mdf;Initial Catalog=aspnet-EFWeb-20170111103221;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="EFDemoContext" connectionString="Data Source=(local);Database=EFDemo;User ID=sa;Password=l87289610;Connection Timeout=30;" providerName="System.Data.SqlClient" />-->
    <add name="EFDemoContext" connectionString="Server=192.168.200.201;Database=EFDemo;User ID=sa;Password=123456aA;Trusted_Connection=False;Connection Timeout=30;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>